/* Mobile */
@media screen and (max-width:600px) {
    .container {
        width: 90%;
    }

    .header-section {
        margin-top: 20px;
    }

    .header-section nav>a {
        font-size: 1.5rem;
    }

    .header-section nav ul .navbar-toggle {
        display: block;
        font-size: 1.5rem;
    }

    .header-section nav ul .nav-item {
        display: none;
    }

    .banner-container {
        padding: 50px 20px;
        margin-top: 20px;
    }

    .banner-container .banner-text h1 {
        font-size: 2.5rem;
    }

    .banner-container .banner-text h4 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .banner-container .banner-text h4>span {
        font-size: 1rem;
    }

    .banner-container form {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        width: 70%;
    }

    .banner-container form * {
        width: 100%;
        padding: 10px;
    }

    .banner-container form button {
        width: 100%;
    }

    .banner-container form input {
        width: 91%;
    }

    .popular-tours {
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }

    .popular-content,
    .popular-img {
        width: 100%;
    }

    .popular-content h2 {
        font-size: 1.5rem;
    }

    .popular-content button {
        font-size: 1rem;
        font-weight: 700;
        padding: 10px 20px;
    }

    .destination-image-container {
        display: grid;
        grid-template-areas:
            "grid-item1"
            "grid-item2"
            "grid-item3"
            "grid-item4"
            "grid-item5"
            "grid-item6"
            "grid-item7";
        gap: 10px;
    }

    .choose-card-container .choose-items {
        width: 100%;
    }

    .deals-discount .deals-card-container .deals-card-content {
        width: 100%;
        padding: 20px;
        margin: 90px 10px 50px 10px;
    }

    .deals-discount .all-pack-btn {
        display: none;
    }

    .simple-perfect-place {
        flex-direction: column;
        margin-top: 50px;
    }

    .simple-perfect-place .perfect-place-content,
    .simple-perfect-place .perfect-place-video {
        width: 100%;
    }

    .perfect-place-video h3 {
        font-size: 1.25rem;
    }

    .newsletter {
        flex-direction: column;
        justify-content: center;
    }

    .newsletter .newsletter-form-content {
        width: 80%;
        margin: 0 auto;
    }

    .newsletter .newsletter-img {
        width: 70%;
        margin: 0 auto;
    }

    .newsletter .newsletter-form-content form>input {
        width: 88%;
    }
    .footer-section{
        padding: 20px;
    }
}

/* tab */
@media screen and (min-width:600px) and (max-width:768px) {
    .container {
        width: 90%;
    }

    .header-section {
        margin-top: 50px;
    }

    .header-section nav>a {
        font-size: 1.5rem;
    }

    .banner-container form {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        width: 70%;
    }

    .banner-container form * {
        width: 100%;
        padding: 10px;
    }

    .banner-container form button {
        width: 100%;
    }

    .banner-container form input {
        width: 91%;
    }

    .destination-image-container {
        display: grid;
        grid-template-areas:
            "grid-item1"
            "grid-item2"
            "grid-item3"
            "grid-item4"
            "grid-item5"
            "grid-item6"
            "grid-item7";
        gap: 10px;
    }

    .choose-card-container .choose-items {
        width: 100%;
    }

    .simple-perfect-place {
        flex-direction: column;
        margin-top: 50px;
    }

    .simple-perfect-place .perfect-place-content,
    .simple-perfect-place .perfect-place-video {
        width: 100%;
    }

    .perfect-place-video h3 {
        font-size: 1.25rem;
    }
}